<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

<header>
    <%- include('../partials/header'); %>
</header>

<center>

    <main>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="csv" accept=".csv">
            <input type="submit" value="Submit">
        </form>
        <ul>
            <% if (size > 0){ let i = 1;%>
            <table>
                <tr>
                    <th></th>
                    <th>File Name</th>
                </tr>
                <% files.forEach(function(data) { %>
                <tr>
                    <td>  <%= i %></td>
                    <td><a href="/read/?file=<%= data.fileid %>" ><strong><%= data.filename %></strong></a></td>
                </tr>
                <% i++ }); %>
              </table>
          <% }else{  %>
            <strong> No Files To Read</strong>
            <% } %>
        </ul>

        
    </main>

</form> 
</center>
<% if(showalert) { %>
<script type="text/javascript">
        alert("<%= results %>");  

   window.location.href = "/";
</script>
<% } %>
</body>
</html>


