<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
  
<body>
<header>
    <%- include('../partials/header'); %>
</header>

<center>

    <main>
        <form action="upload" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" accept=".csv">
            <input type="submit" value="Submit">
        </form> 


        <p><%= size %></p>

        <ul>
          <% files.forEach(function(data) { %>
            <a href="/read/?file=<%= data.fileid %>" >
                <li>
                <strong> filename <%= data.filename %></strong>
                </li>
            </a>
          <% }); %>
        </ul>

        
    </main>

</form> 
</center>



</body>
</html>


