<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
  
<body>
<header>
    <%- include('../partials/header'); %>
</header>

<center>

    <main>
        <div >
          <h1> <%= filename %></h1>
        </div>
        <table>
          <tr>
            <th></th>
            <th>Student Number</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Course Code</th>
            <th>Course Description</th>
            <th>Grade</th>
          </tr>
          <% let i = 1; filedata.forEach(function(data) { %>
          <tr>
            <td><%= i++ %></td>
            <td><%= data.StudentNumber %></td>
            <td><%= data.Firstname %></td>
            <td><%= data.Surname %></td>
            <td><%= data.CourseCode %></td>
            <td><%= data.CourseDescription %></td>
            <td><%= data.Grade %></td>
          </tr>
          <% }); %>
        </table>

    </main>

</form> 
</center>



</body>
</html>


